.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background-color: white;
    margin: 0px 0px 0px 0px 0px;
}
h2{
    display: inline;
    color: black;
    padding: 20px;
}
.brightness{
    opacity: 0.5;
}
img{
    display: inline;
    margin: 0px 0px 0px 10px;
}
.home{
    display: inline;
    padding: 0px 0px 0px 0px;
    margin: 0px 30px 0px 0px ;
    justify-content: space-between;
    opacity: 0.8;
}
.child3{
    display: flex;
    justify-content: space-between;
}
.parent2{
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    width: 800px;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    margin: 20px 0px 80px 300px;
    border-radius: 500px;
}
.search{
    margin: 0px 5px 0px 0px;
    padding: 0px;
}
